/*
* footer styles
*/
body {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
legend {
  display: block;
  width: auto;
  padding: 0 5px;
  margin-bottom: 0;
  font-size: inherit;
  line-height: inherit;
  border: auto;
  border-bottom: none;
}
fieldset {
  border: 2px groove threedface;
  padding: 5px;
}
#license-footer {
  align-self: flex-end;
  padding: 16px 32px;
  width: 100%;
  text-align: center;
  font-size: small;
  border-top: 1px solid #666;
  background-color: #1C2B36;
  color: #fff;
}
md-input-container {
  margin: 10px 0 !important;
}
md-menu-divider {
  background-color: #ff9999 !important;
}
.login md-toolbar {
  background-color: #1C2B36 !important;
}
.login md-toolbar .logo {
  cursor: pointer;
  width: 200px;
}
.login .login-container {
  background-image: url('../images/white-bg.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.login .login-container .login-content {
  border-radius: 10px;
  background: rgba(28, 43, 54, 0.8) !important;
  color: #fff;
}
.login .login-container .login-content md-input-container label {
  color: #fff;
}
.login .login-container .login-content md-input-container .md-input {
  color: #fff;
}
.register md-toolbar {
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.register md-toolbar .logo {
  cursor: pointer;
  width: 200px;
}
.register .register-container {
  background-image: url('../images/white-bg.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.register .register-container .register-content {
  border-radius: 10px;
  background: rgba(28, 43, 54, 0.8) !important;
  color: #fff;
}
.register .register-container .register-content md-input-container label {
  color: #fff;
}
.register .register-container .register-content md-input-container .md-input {
  color: #fff;
}
.layout md-toolbar {
  background-color: #1C2B36 !important;
}
.layout md-toolbar .logo {
  cursor: pointer;
  width: 200px;
}
.layout .layout-container {
  background-image: url('../images/white-bg.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.layout .layout-container .layout-main-content {
  background-color: transparent !important;
}
.layout .layout-container .side-nav {
  width: 280px;
  max-width: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}
.layout .layout-container .side-nav .left-nav-container .side-bar {
  width: 280px;
  max-width: 280px;
  background: #1C2B36 !important;
}
.layout .layout-container .side-nav .left-nav-container .side-bar md-content {
  background-color: #1C2B36 !important;
  color: #fff;
}
.dashboard .dashboard-container {
  border-right: 1px solid #666;
}
.dashboard .dashboard-container .dashboard-links {
  border-bottom: 1px solid #666;
  padding: 20px 0;
  cursor: pointer;
}
.dashboard .dashboard-container .dashboard-links .dash-img {
  width: 60px;
  height: 60px;
}
.bookings .bookings-list {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 0;
}
.domestic .cylender-icon {
  height: 100px;
  width: 100px;
}
