Dear <<FIRST_NAME>>
<p>Thank you for showing interest the MedRep™ Mobile Application. Our Sales representative will get in<br>
touch with you shortly using the details mentioned.<br>
As you must have already observed, there are 4 user bases within our application:<br>
1. Doctors<br>
2. Pharmaceutical / Healthcare Companies<br>
3. Pharmacies &amp;<br>
4. Patients<br>
The aim of MedRep™ is to digitize and unite the complete healthcare ecosystem onto a common digital<br>
platform &amp; interconnect them in a way to derive meaningful and business critical marketing analytics for<br>
the Healthcare companies.<br>
MedRep™ derives business critical Analytical data for the Healthcare Companies from this ecosystem to<br>
provide valuable market insights to Healthcare companies<br>
MedRep™ offers a tight Marketing Integration between:<br>
i) Pharmaceutical Companies -&gt; Physicians<br>
ii) Physicians -&gt; Pharmacies<br>
iii) Pharmacies -&gt; Patients<br>
iv) Patients -&gt; Pharmaceutical Companies<br>
v) Pharmacies -&gt; Pharmaceutical Companies<br>
We look forward to interacting with your team and providing further details.<br>

Regards,

MedRep Team