<md-content layout-padding layout-wrap>
    <md-button ng-click="back()" class="md-primary" layout="row">
        <i class="material-icons">keyboard_backspace</i>
        <span>Back</span>
    </md-button>
    <div layout="column" layout-align="center center">
        <h2 class="md-title">{{item.title}}</h2>
        <img ng-src="{{'data:image/png;base64,'+item.imageData}}">
        <p>{{item.description}}</p>
        <md-button class="md-primary md-raised" ng-click="share(item)">Share</md-button>
        <md-button class="md-primary md-raised">Take to Website</md-button>
    </div>
</md-content>
