<md-tabs md-dynamic-height md-border-bottom md-selected="currentTab">
    <md-tab label="Regulatory" ui-sref="doctorPlusDash.transform.regulatory">
    </md-tab>
    <md-tab label="Education" ui-sref="doctorPlusDash.transform.education">
    </md-tab>
    <md-tab label="Journal" ui-sref="doctorPlusDash.transform.journal">
    </md-tab>
    <md-tab label="Medical Innovation" ui-sref="doctorPlusDash.transform.medicalInnovation">
    </md-tab>
    <md-tab label="Webcasts" ui-sref="doctorPlusDash.transform.webcasts">
    </md-tab>
    <md-tab label="Best Practices" ui-sref="doctorPlusDash.transform.bestPractices">
    </md-tab>
    <md-tab label="Case Studies" ui-sref="doctorPlusDash.transform.caseStudies">
    </md-tab>
    <md-tab label="Whitepapers" ui-sref="doctorPlusDash.transform.whitepapers">
        <div layout="row">
            <md-fab-toolbar md-open="false" count="demo.count" md-direction="left" class="md-fab-top-right">
                <md-fab-trigger class="align-with-text">
                    <md-button aria-label="menu" class="md-fab md-primary">
                        <md-icon>
                            reorder
                        </md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-toolbar>
                    <md-fab-actions class="md-toolbar-tools">
                        <md-button aria-label="comment" class="md-icon-button" ng-click="toggleView('cards')">
                            <md-icon>
                                view_list
                            </md-icon>
                        </md-button>
                        <md-button aria-label="label" class="md-icon-button" ng-click="toggleView('list')">
                            <md-icon>
                                list
                            </md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-toolbar>
            </md-fab-toolbar>
            <div flex layout="row" layout-align="start center" style="min-height: 100px;">
                <md-input-container class="md-block" flex="40">
                    <md-icon>
                        search
                    </md-icon>
                    <input ng-model="searchNews" placeholder="Search">
                </md-input-container>
            </div>
        </div>
        <md-divider></md-divider>
        <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="2" md-row-height="2:2" ng-if="view=='cards'">
            <md-grid-tile class="large-card" ng-repeat="list in newsList  | filter: searchNews" md-colspan="1">
                <md-card>
                    <img ng-src="{{list.imagePath}}" class="md-card-image news-cardImg" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{list.title}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            {{list.description}}
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end end">
                        <md-button ng-click="manage(list)">View</md-button>
                    </md-card-actions>
                </md-card>
            </md-grid-tile>
        </md-grid-list>
        <md-list ng-if="view=='list'">
            <md-list-item class="md-3-line" ng-repeat="list in newsList | filter: searchNews" ng-click="manage(list)">
                <img ng-src="{{list.imagePath}}" class="md-avatar" alt="{{contact.name}}" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ list.title}}</h3>
                    <p>{{ list.description }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-tab>
    <md-tab label="Videos" ui-sref="doctorPlusDash.transform.videos">
    </md-tab>
    <md-tab label="Clinical Trials" ui-sref="doctorPlusDash.transform.clinicalTrials">
    </md-tab>
</md-tabs>
