<md-dialog aria-label="" ng-cloak flex="50">
    <form name="otpForm">
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-display-1">OTP Confirmation</h2>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Enter OTP</label>
                <input ng-model="otp" autocomplete="off">
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
            <md-button md-no-ink class="md-primary" ng-click="regenerate()">Regenerate OTP</md-button>
            <md-button md-no-ink class="md-primary" ng-click="confirm()">Confirm</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
