<section class="domestic md-padding">
    <h2 class="md-title page-title">Industrial Connection</h2>
    <div>
        <div layout="row">
            <div>
                <img src="app/images/cylender.png" class="cylender-icon">
            </div>
            <div flex layout="column" class="layout-margin">
                <div class="md-body-2">
                    Industrial cylender details as description etc. we have an extensive gas agency network. Currently our gas domestic agency network is present in Karnataka and TamilNadu.
                </div>
                <md-content layout="column" layout-padding class="md-whiteframe-8dp">
                    <div flex>
                        <md-select ng-model="connection.connectionType" ng-model-options="{trackBy: '$value.id'}" required name="product" ng-change="calculate()">
                            <md-option ng-repeat="item in products" ng-value="{{item}}">
                                {{item.appliance_Name}} - {{item.customerWithoutTax}}
                            </md-option>
                        </md-select>
                    </div>
                    <div layout="row">
                        <div flex="30">Cylinder Deposit:</div>
                        <div flex>Rs. 2000</div>
                    </div>
                    <div layout="row">
                        <div flex="30">Registration Charges:</div>
                        <div flex>Rs. 400</div>
                    </div>
                    <div layout="row">
                        <div flex="30">Regulator Charges:</div>
                        <div flex>Rs. 200</div>
                    </div>
                    <div layout="row">
                        <div flex="30">Gas Refill Charges:</div>
                        <div flex>Rs. {{connection.connectionType.customerWithoutTax}}</div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row">
                        <div flex="30">Total Charges:</div>
                        <div flex>Rs. {{total}}</div>
                    </div>
                    <md-divider></md-divider>
                    <ngcart-addtocart id="item3" name="Industrial Cylinder" price="{{total}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
                </md-content>
                <div class="md-title">Appliances</div>
                <md-content layout="column" layout-padding class="md-whiteframe-8dp">
                    <div layout="row" layout-align="center center" layout-padding ng-repeat="appliance in appliances">
                        <div>
                            <img ng-src="{{appliance.imgSrc}}" style="width: 100px;" alt="{{appliance.appliance_Name}}">
                        </div>
                        <div flex layout="column" layout-padding>
                            <div class="md-body-2">{{appliance.appliance_Name}}</div>
                            <div>Offering you the flexibility</div>
                            <div class="md-title">Price: Rs. {{appliance.customerWithoutTax}}</div>
                            <ngcart-addtocart id="{{appliance.id}}" name="{{appliance.appliance_Name}}" price="{{appliance.customerWithoutTax}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
                        </div>
                        <md-divider></md-divider>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row">
                        <span flex></span>
                        <md-button class="md-primary md-raised" ui-sref="checkout">Continue</md-button>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</section>
