<div class="md-padding">
    <h2 class="md-title page-title">Mechanic Service</h2>
    <div class="layout-padding">
        <fieldset>
            <legend>Current Address:</legend>
            <div layout="column">
                <div layout="row">
                    <span flex="10" flex-xs="0" flex-sm="0"></span>
                    <div flex="25" flex-xs = "50" flex-sm="50" class="md-body-2">Dealer:</div>
                    <div>{{current.dealerName}}</div>
                </div>
                <div layout="row">
                    <span flex="10" flex-xs="0" flex-sm="0"></span>
                    <div flex="25" flex-xs = "50" flex-sm="50" class="md-body-2">Consumer No:</div>
                    <div>{{current.consumer_id}}</div>
                </div>
                <div layout="row">
                    <span flex="10" flex-xs="0" flex-sm="0"></span>
                    <div flex="25" flex-xs = "50" flex-sm="50" class="md-body-2">Consumer Name:</div>
                    <div>{{current.name}}</div>
                </div>
                <div layout="row">
                    <span flex="10" flex-xs="0" flex-sm="0"></span>
                    <div flex="25" flex-xs = "50" flex-sm="50" class="md-body-2">Address:</div>
                    <div>{{current.address}}</div>
                </div>
                <div layout="row">
                    <span flex="10" flex-xs="0" flex-sm="0"></span>
                    <div flex="25" flex-xs = "50" flex-sm="50" class="md-body-2">Contact No:</div>
                    <div>{{current.contactNo}}</div>
                </div>
            </div>
        </fieldset>
        <div layout="column" layout-padding>
            <form name="mechanicForm">
                <div class="md-title">Service Required</div>
                <md-input-container class="md-block">
                    <label>Service</label>
                    <md-select ng-model="user.mechanicId" required name="mechanic">
                        <md-option ng-repeat="item in mechanicsList" value="{{item.id}}">
                            {{item.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="mechanicForm.mechanic.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Mechanic is mandatory
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Comments</label>
                    <textarea ng-model="user.description" md-maxlength="150" rows="1" md-select-on-focus></textarea>
                </md-input-container>
                <div layout="row" layout-align="end end">
                    <md-button class="md-warn md-raised" ng-click="reset()">Reset</md-button>
                    <md-button class="md-primary md-raised" ng-disabled="mechanicForm.$invalid" ng-click="addService()">Submit</md-button>
                </div>
            </form>
        </div>
    </div>
</div>
