<div layout="column" layout-padding>
    <h2 class="md-title page-title">Price List</h2>
    <div layout="row">
        <span flex="15" flex-xs="0" flex-sm="0"></span>
        <md-table-container flex="70" class="price-table-container md-whiteframe-8dp">
            <table md-table class="price-table">
                <thead md-head>
                    <tr md-row>
                        <th md-column>Capacity</th>
                        <th md-column>Amt (in Rs without Tax)</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="list in priceList">
                        <td md-cell>{{list.appliance_Name}}</td>
                        <td md-cell>{{list.customerWithoutTax}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <span flex="15" flex-xs="0" flex-sm="0"></span>
    </div>
    <div class="md-body-2">Note:</div>
    <div class="md-body-1">Delivery charges Rs50 extra on {{connectionType}} refills on MRP.</div>
</div>
