<div layout="column" layout-padding>
    <h2 class="md-title">Price List</h2>
    <div layout="row">
         <span flex="15"></span>
        <md-table-container flex="70" class="price-table-container md-whiteframe-8dp">
            <table md-table class="price-table">
                <thead md-head>
                    <tr md-row>
                        <th md-column>Capacity</th>
                        <th md-column>Amt (in Rs)</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row>
                        <td md-cell>12kg Refill</td>
                        <td md-cell>950</td>
                    </tr>
                    <tr md-row>
                        <td md-cell>15kg Refill</td>
                        <td md-cell>840</td>
                    </tr>
                    <tr md-row>
                        <td md-cell>12kg Refill(Domestic)</td>
                        <td md-cell>620</td>
                    </tr>
                    <tr md-row>
                        <td md-cell>5.5kgs Refill</td>
                        <td md-cell>335</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <span flex="15"></span>
    </div>
    <div class="md-body-2">Note:</div>
    <div class="md-body-1">Delivery charges Rs50 extra on {{connectionType}} refills on MRP.</div>
</div>
