                
<div layout="column" tabindex="-1" role="main" flex="" class="layout">
    <section ui-view="header" class="layout"></section>
    <div layout="row" class="layout-container">
        <nav ui-view="nav" md-scroll-y layout="column" class="side-nav layout">
        </nav>
        <md-content md-scroll-y layout="column" flex class="layout-main-content">
            <div ui-view flex="noshrink"></div>
            <div layout="row" flex="noshrink" layout-align="center center" class="layout-align-center-center layout-row">
                <div id="license-footer" flex="" class="ng-binding flex">
                    Powered by Jyothi Gas ©2014–2016.
                </div>
            </div>
        </md-content>
    </div>
</div>
