<div class="left-nav-container" flex="noshrink">
    <md-sidenav class="md-sidenav-left side-bar" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-content flex ng-controller="NavCtrl">
            <md-list>
                <md-list-item class="md-1-line left-nav-link" ng-class="{'active-tab': currentPage == listItem.extNmae}" ng-repeat="listItem in navList" ng-click="goto($event, listItem)">
                    <i class="{{listItem.icon}}" ng-if="listItem.icon"></i>
                    <div class="md-list-item-text" layout="column">
                        <div class="md-body-2" style="text-align:left; margin-left:5px">{{ listItem.name}}</div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</div>
