<div layout="column" layout-padding class="bookings">
    <h2 class="md-title">Booking History</h2>
    <md-list flex>
        <md-list-item class="md-3-line bookings-list md-whiteframe-5dp"  ng-repeat="item in bookings">
            <div class="md-list-item-text" layout="column">
                <div><b>Ref no:</b> {{item.reference}}</div>
                <div><b>Order No</b> {{item.id}}</div>
                <div><b>Order Date</b> {{item.booking_date}}</div>
                <div><b>Delivery Date</b> {{item.date_of_deleivery}}</div>
            </div>
            <div class="md-secondary"><b>Status:</b> {{item.status}}</div>
        </md-list-item>
    </md-list>
    <div layout="column" layout-align="center center" ng-show="noBookings">
        Currently there is no booking history for you
    </div>
</div>
