<div layout="column" layout-padding class="bookings">
    <h2 class="md-title">Booking History</h2>
    <md-list flex>
        <md-list-item class="md-3-line bookings-list md-whiteframe-5dp"  ng-repeat="item in bookings">
            <div class="md-list-item-text" layout="column">
                <div><b>Ref no:</b> {{item.refNo}}</div>
                <div><b>Order No</b> {{item.orderNo}}</div>
                <div><b>Order Date</b> {{item.orderDate}}</div>
                <div><b>Delivery Date</b> {{item.deliveryDate}}</div>
            </div>
            <div class="md-secondary"><b>Status:</b> {{item.status}}</div>
        </md-list-item>
    </md-list>
</div>
