<div class="domestic md-padding">
    <h2 class="md-title page-title">Commercial Connection</h2>
    <div>
        <div layout="row">
            <div>
                <img src="app/images/cylender.png" class="cylender-icon">
            </div>
            <div flex layout="column" class="layout-margin">
                <div class="md-body-2">
                    Commercial cylender details as description etc. we have an extensive gas agency network. Currently our gas domestic agency network is present in Karnataka and TamilNadu.
                </div>
                <md-content layout="column" layout-padding class="md-whiteframe-8dp">
                    <div layout="row" layout-align="center center">
                        <div flex="30">Cylinder Type:</div>
                        <div flex>
                            <md-select ng-model="connection.connectionType" ng-model-options="{trackBy: '$value.id'}" required name="product" ng-change="calculate()">
                                <md-option ng-repeat="item in products" ng-value="{{item}}">
                                    {{item.appliance_Name}} - {{item.applliance_Cost}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                    <div layout="row">
                        <div flex="30">Cylinder Deposit:</div>
                        <div flex>Rs. 2000</div>
                    </div>
                    <div layout="row">
                        <div flex="30">Registration Charges:</div>
                        <div flex>Rs. 400</div>
                    </div>
                    <div layout="row">
                        <div flex="30">Regulator Charges:</div>
                        <div flex>Rs. 200</div>
                    </div>
                    <div layout="row">
                        <div flex="30">Gas Refill Charges:</div>
                        <div flex>Rs. {{connection.connectionType.applliance_Cost}}</div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row">
                        <div flex="30">Total Charges:</div>
                        <div flex>Rs. {{total}}</div>
                    </div>
                    <md-divider></md-divider>
                    <ngcart-addtocart id="item2" name="Commercial Cylinder" price="{{total}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
                </md-content>
                <div class="md-title">Appliances</div>
                <md-content layout="column" layout-padding class="md-whiteframe-8dp">
                    <div layout="row" layout-align="center center" layout-padding ng-repeat="appliance in appliances">
                        <div>
                            <img src="app/images/3burner.png" style="width: 100px;">
                        </div>
                        <div flex layout="column" layout-padding>
                            <div class="md-body-2">{{appliance.appliance_Name}}</div>
                            <div>Offering you the flexibility</div>
                            <div class="md-title">Price: Rs. {{appliance.applliance_Cost}}</div>
                            <ngcart-addtocart id="{{appliance.id}}" name="{{appliance.appliance_Name}}" price="{{appliance.applliance_Cost}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
                        </div>
                        <md-divider></md-divider>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>
