<div layout="column" layout-padding class="dashboard">
    <h2 class="md-title">DASHBOARD</h2>
    <div layout="column" class="">
        <div layout="row" layout-align="center center">
            <div flex="33" layout="column" class="dashboard-container">
                <md-card class="dashboard-cards">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Book Refill</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img src="app/images/book-refill.png" class="dash-img">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primary" ui-sref="bookRefill">view</md-button>
                    </md-card-actions>
                </md-card>
                <md-card class="dashboard-cards">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Industrial Connection</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img src="app/images/industrial-connection.png" class="dash-img"> 
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primary" ng-click="checkConnection($event, 'industrial')">view</md-button>
                    </md-card-actions>
                </md-card>
                <md-card class="dashboard-cards">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Contact Details</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img src="app/images/contact-us.png" class="dash-img">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primary" ui-sref="contactUs">view</md-button>
                    </md-card-actions>
                </md-card>
            </div>
            <div flex="33" layout="column" class="dashboard-container">
                <md-card class="dashboard-cards">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Domestic Connection</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                               <img src="app/images/domestic-connection.png" class="dash-img">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primary" ng-click="checkConnection($event, 'domestic')">view</md-button>
                    </md-card-actions>
                </md-card>
                <md-card class="dashboard-cards">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Our Apppliances</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                               <img src="app/images/appliances.png" class="dash-img">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primary" ui-sref="appliances">view</md-button>
                    </md-card-actions>
                </md-card>
                <md-card class="dashboard-cards">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Price List</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                               <img src="app/images/price-list.png" class="dash-img"> 
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primary" ui-sref="priceList">view</md-button>
                    </md-card-actions>
                </md-card>
            </div>
            <div flex="33" layout="column" class="dashboard-container">
                <md-card class="dashboard-cards">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Commercial Connection</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                              <img src="app/images/commercial-connection.png" class="dash-img"> 
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primary" ng-click="checkConnection($event, 'commercial')">view</md-button>
                    </md-card-actions>
                </md-card>
                <md-card class="dashboard-cards">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Search Dealer</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                              <img src="app/images/search-dealer.png" class="dash-img"> 
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primary" ui-sref="searchDealer">view</md-button>
                    </md-card-actions>
                </md-card>
                <md-card class="dashboard-cards">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Logout</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                              <img src="app/images/logout.png" class="dash-img"> 
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-primary" ng-click="userLogout()">Logout</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</div>
