<div layout="column" layout-padding class="dashboard">
    <h2 class="md-title">DASHBOARD</h2>
    <div layout="column" class="">
        <div layout="row" layout-align="center center">
            <div flex="33" layout="column" class="dashboard-container">
                <div class="dashboard-links" layout="column" layout-align="center center" ui-sref="bookRefill">
                	<img src="app/images/book-refill.png" class="dash-img">
                    Book Refill
                </div>
                <div class="dashboard-links" layout="column" layout-align="center center">
                	<img src="app/images/industrial-connection.png" class="dash-img">
                    Industrial Connection
                </div>
                <div class="dashboard-links" layout="column" layout-align="center center">
                    <img src="app/images/contact-us.png" class="dash-img">
                    Contact Details
                </div>
            </div>
            <div flex="33" layout="column" class="dashboard-container">
                <div class="dashboard-links" layout="column" layout-align="center center">
                	<img src="app/images/domestic-connection.png" class="dash-img">
                    Domestic Connection
                </div>
                <div class="dashboard-links" layout="column" layout-align="center center">
                	<img src="app/images/appliances.png" class="dash-img">
                    Our Apppliances
                </div>
                <div class="dashboard-links" layout="column" layout-align="center center">
                	<img src="app/images/price-list.png" class="dash-img">
                    Price List
                </div>
            </div>
            <div flex="33" layout="column" class="dashboard-container">
                <div class="dashboard-links" layout="column" layout-align="center center">
                	<img src="app/images/commercial-connection.png" class="dash-img">
                    Commercial Connection
                </div>
                <div class="dashboard-links" layout="column" layout-align="center center">
                	<img src="app/images/search-dealer.png" class="dash-img">
                    Search Dealer
                </div>
                <div class="dashboard-links" layout="column" layout-align="center center">
                	<img src="app/images/logout.png" class="dash-img">
                	Logout
                </div>
            </div>
        </div>
    </div>
</div>
