<section class="md-padding">
    <h2 class="md-title page-title">Contact Dealer</h2>
    <md-content class="md-padding md-whiteframe-8dp dash-content-bg" layout="column" flex="60">
        <div layout="row">
            <span flex="10"></span>
            <div flex="35" class="md-body-2">Dealer Name:</div>
            <div>{{dealer.dealer_name}}</div>
        </div>
        <div layout="row">
            <span flex="10"></span>
            <div flex="35" class="md-body-2">Address:</div>
            <div>{{dealer.dealer_address}}</div>
        </div>
        <div layout="row">
            <span flex="10"></span>
            <div flex="35" class="md-body-2">District:</div>
            <div>{{dealer.dealer_city}}</div>
        </div>
        <div layout="row">
            <span flex="10"></span>
            <div flex="35" class="md-body-2">Pin code:</div>
            <div>{{dealer.dealer_area_code}}</div>
        </div>
        <div layout="row">
            <span flex="10"></span>
            <div flex="35" class="md-body-2">Email:</div>
            <div>{{dealer.dealer_email}}</div>
        </div>
        <div layout="row">
            <span flex="10"></span>
            <div flex="35" class="md-body-2">Phone:</div>
            <div>{{dealer.dealer_contact_no}}</div>
        </div>
        <!-- <div layout="row">
        <span flex="10"></span>
        <div flex="35" class="md-body-2">Mobile:</div>
        <div>{{dealer.mobile}}</div>
    </div>
    <div layout="row">
        <span flex="10"></span>
        <div flex="35" class="md-body-2">Proprietor:</div>
        <div>{{dealer.proprietor}}</div>
    </div>
    <div layout="row">
        <span flex="10"></span>
        <div flex="35" class="md-body-2">Incharge Name:</div>
        <div>{{dealer.inchargeName}}</div>
    </div>
    <div layout="row">
        <span flex="10"></span>
        <div flex="35" class="md-body-2">Incharge Email:</div>
        <div>{{dealer.inchargeEmail}}</div>
    </div> -->
    </md-content>
</section>
