<div class="md-padding">
    <h2 class="md-title">Change Dealer request</h2>
    <div class="layout-padding">
        <fieldset>
            <legend>Current Dealer:</legend>
            <div layout="column">
                <div layout="row">
                    <span flex="10"></span>
                    <div flex="25" class="md-body-2">Dealer Name:</div>
                    <div>{{current.dealer_name}}</div>
                </div>
                <div layout="row">
                    <span flex="10"></span>
                    <div flex="25" class="md-body-2">Address:</div>
                    <div>{{current.dealer_address}}</div>
                </div>
                <div layout="row">
                    <span flex="10"></span>
                    <div flex="25" class="md-body-2">District:</div>
                    <div>{{current.dealer_city}}</div>
                </div>
                <div layout="row">
                    <span flex="10"></span>
                    <div flex="25" class="md-body-2">Pin code:</div>
                    <div>{{current.dealer_area_code}}</div>
                </div>
                <div layout="row">
                    <span flex="10"></span>
                    <div flex="25" class="md-body-2">Contact No:</div>
                    <div>{{current.dealer_contact_no}}</div>
                </div>
                 <div layout="row">
                    <span flex="10"></span>
                    <div flex="25" class="md-body-2">Email:</div>
                    <div>{{current.dealer_email}}</div>
                </div>
            </div>
        </fieldset>
        <div layout="column" layout-padding>
            <form name="dealerForm">
                <md-input-container class="md-block">
                    <label>New Address</label>
                    <textarea ng-model="user.newAddress" md-maxlength="150" rows="1" md-select-on-focus></textarea>
                </md-input-container>
                <md-input-container class="md-block">
                	<label>New Pin code</label>
                    <input required name="pinCode" ng-model="user.newPinCode" ng-pattern="/^\d{6}$/">
                    <div ng-messages="dealerForm.pinCode.$error" role="alert">
                        <div ng-message-exp="['required', 'pattern']">
                            Add a valid pin code
                        </div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="end end">
                	<md-button class="md-warn md-raised" ng-click="reset()">Reset</md-button>
                	<md-button class="md-primary md-raised">Submit</md-button>
                </div>
            </form>
        </div>
    </div>
</div>
