<section class="domestic md-padding">
    <h2 class="md-title">Industrial Connection</h2>
    <div>
        <div layout="row">
            <div>
                <img src="app/images/cylender.png" class="cylender-icon">
            </div>
            <div flex layout="column" class="layout-margin">
                <div class="md-body-2">
                    Industrial cylender details as description etc. we have an extensive gas agency network. Currently our gas domestic agency network is present in Karnataka and TamilNadu.
                </div>
                <md-content layout="column" layout-padding class="md-whiteframe-8dp">
                    <div layout="row">
                        <div flex="30">Cylinder Deposit:</div>
                        <div flex>Rs. 2000</div>
                    </div>
                    <div layout="row">
                        <div flex="30">Registration Charges:</div>
                        <div flex>Rs. 400</div>
                    </div>
                    <div layout="row">
                        <div flex="30">Regulator Charges:</div>
                        <div flex>Rs. 200</div>
                    </div>
                    <div layout="row">
                        <div flex="30">Gas Refill Charges:</div>
                        <div flex>Rs. 650</div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row">
                        <div flex="30">Total Charges:</div>
                        <div flex>Rs. 3250</div>
                    </div>
                    <md-divider></md-divider>
                    <ngcart-addtocart id="IndustrialCyl" name="Industrial Cylinder" price="3250" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
                </md-content>
                <div class="md-title">Appliances</div>
                <md-content layout="column" layout-padding class="md-whiteframe-8dp">
                    <div layout="row" layout-align="center center" layout-padding>
                        <div>
                            <img src="app/images/3burner.png" style="width: 100px;">
                        </div>
                        <div flex layout="column" layout-padding>
                            <div class="md-body-2">3 Burner Glass Top</div>
                            <div>Offering you the flexibility</div>
                            <div class="md-title">Price: Rs. 1450</div>
                            <ngcart-addtocart id="item2" name="3 Burner Glass Top" price="1450" quantity="1">Add to Cart</ngcart-addtocart>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-align="center center" layout-padding>
                        <div>
                            <img src="app/images/3burner.png" style="width: 100px;">
                        </div>
                        <div flex layout="column" layout-padding>
                            <div class="md-body-2">Stainless Steel Gas Stove</div>
                            <div>Offering you the flexibility</div>
                            <div class="md-title">Price: Rs. 1750</div>
                            <ngcart-addtocart id="item3" name="3 Burner Glass Top" price="1750" quantity="1">Add to Cart</ngcart-addtocart>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-align="center center" layout-padding>
                        <div>
                            <img src="app/images/3burner.png" style="width: 100px;">
                        </div>
                        <div flex layout="column" layout-padding>
                            <div class="md-body-2">Gas Tube</div>
                            <div>Offering you the flexibility</div>
                            <div class="md-title">Price: Rs. 1750</div>
                            <ngcart-addtocart id="item" name="Gas Tube" price="1750" quantity="1">Add to Cart</ngcart-addtocart>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</section>
