<div class="md-padding update-page">
    <h2 class="md-title page-title">Mechanic Service</h2>
    <div class="layout-padding">
        <md-content class="md-padding md-whiteframe-8dp dash-content-bg" layout="column" flex="70" flex-sm="100" flex-xs="100">
            <div layout="row">
                <span flex="10" flex-xs="0" flex-sm="0"></span>
                <div flex="25" flex-xs="35" flex-sm="35" class="md-body-2">Dealer Name:</div>
                <div flex="65" flex-xs="65" flex-sm="65" class="md-body-1">{{current.dealerName}}</div>
            </div>
            <div layout="row">
                <span flex="10" flex-xs="0" flex-sm="0"></span>
                <div flex="25" flex-xs="35" flex-sm="35" class="md-body-2">Consumer No:</div>
                <div flex="65" flex-xs="65" flex-sm="65" class="md-body-1">{{current.consumer_id}}</div>
            </div>
            <div layout="row">
                <span flex="10" flex-xs="0" flex-sm="0"></span>
                <div flex="25" flex-xs="35" flex-sm="35" class="md-body-2">Consumer Name:</div>
                <div flex="65" flex-xs="65" flex-sm="65" class="md-body-1">{{current.name}}</div>
            </div>
            <div layout="row">
                <span flex="10" flex-xs="0" flex-sm="0"></span>
                <div flex="25" flex-xs="35" flex-sm="35" class="md-body-2">Address:</div>
                <div flex="65" flex-xs="65" flex-sm="65" class="md-body-1">{{current.address}}</div>
            </div>
            <div layout="row">
                <span flex="10" flex-xs="0" flex-sm="0"></span>
                <div flex="25" flex-xs="35" flex-sm="35" class="md-body-2">Contact No:</div>
                <div flex="65" flex-xs="65" flex-sm="65" class="md-body-1">{{current.contactNo}}</div>
            </div>
        </md-content>
        <br>
        <div layout="column" class="update-form" layout-padding flex="70" flex-sm="100" flex-xs="100">
            <form name="mechanicForm">
                <div class="md-title">Service Required</div>
                <md-input-container class="md-block">
                    <label>Service</label>
                    <md-select ng-model="user.mechanicId" required name="mechanic">
                        <md-option ng-repeat="item in mechanicsList" value="{{item.id}}">
                            {{item.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="mechanicForm.mechanic.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Mechanic is mandatory
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Comments</label>
                    <textarea ng-model="user.description" md-maxlength="150" rows="1" md-select-on-focus></textarea>
                </md-input-container>
                <div layout="row" layout-align="end end">
                    <md-button class="md-warn md-raised" ng-click="reset()">Reset</md-button>
                    <md-button class="md-primary md-raised" ng-disabled="mechanicForm.$invalid" ng-click="addService()">Submit</md-button>
                </div>
            </form>
        </div>
    </div>
</div>
