<section class="layout-padding">
    <h2 class="md-title">My Profile</h2>
    <md-content class="md-padding md-whiteframe-8dp dash-content-bg" layout="column" flex="60">
        <div layout="row">
            <span flex="10"></span>
            <div flex="35" class="md-body-2">Name:</div>
            <div>{{consumer.name}}</div>
        </div>
        <div layout="row">
            <span flex="10"></span>
            <div flex="35" class="md-body-2">Address:</div>
            <div>{{consumer.address}}</div>
        </div>
        <div layout="row">
            <span flex="10"></span>
            <div flex="35" class="md-body-2">city:</div>
            <div>{{consumer.city}}</div>
        </div>
        <div layout="row">
            <span flex="10"></span>
            <div flex="35" class="md-body-2">Pin code:</div>
            <div>{{consumer.areaCode}}</div>
        </div>
        <div layout="row">
            <span flex="10"></span>
            <div flex="35" class="md-body-2">Email:</div>
            <div>{{consumer.email}}</div>
        </div>
        <div layout="row">
            <span flex="10"></span>
            <div flex="35" class="md-body-2">Phone:</div>
            <div>{{consumer.contactNo}}</div>
        </div>
        <!-- <div layout="row">
        <span flex="10"></span>
        <div flex="35" class="md-body-2">Mobile:</div>
        <div>{{consumer.mobile}}</div>
    </div>
    <div layout="row">
        <span flex="10"></span>
        <div flex="35" class="md-body-2">Proprietor:</div>
        <div>{{consumer.proprietor}}</div>
    </div>
    <div layout="row">
        <span flex="10"></span>
        <div flex="35" class="md-body-2">Incharge Name:</div>
        <div>{{consumer.inchargeName}}</div>
    </div>
    <div layout="row">
        <span flex="10"></span>
        <div flex="35" class="md-body-2">Incharge Email:</div>
        <div>{{consumer.inchargeEmail}}</div>
    </div> -->
    </md-content>
</section>
