<div layout="column" layout-padding class="safety-tips">
    <h2 class="md-title">Safety Tips</h2>
    <md-content class="md-whiteframe-5dp">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Precautions">
                <md-content class="md-padding">
                    <ul>
                        <li>
                            The place where you install your gas installation is very important. If the following precautions are taken, it will by itself be an insurance against any mishaps occurring in your kitchen.
                        </li>
                        <li>Always keep the cylinders in a vertical position with the valve on top. If cylinder is placed in any other position, liquid LPG may gush out of the open valve creating a dangerous situation.
                        </li>
                        <li>Cylinders must be installed at ground level and never below ground level or in cellars or basements etc.
                        </li>
                        <li>Not more than two cylinders should be stored in a room. To keep two cylinders, the kitchen should have minimum floor area of 10 sq. meters.
                        </li>
                        <li>If cylinders are placed in cupboards, these cupboards should be provided with ventilation openings both at floor level and at top level. A half gap should suffice.
                        </li>
                        <li>Cylinders must not be installed in any position in which they may become overheated, e.g. alongside a sigree or any other heating appliance. If any heating appliance has to be used, it must be kept at above ground height and never on floor level.
                        </li>
                        <li>Avoid storing combustible articles close to cylinder and LPG installation.
                        </li>
                        <li>No other heating device such as an electric oven, kerosene stove, etc, should be placed within a metre of your gas appliance.
                        </li>
                        <li>Do not keep cylinder exposed to sun, rain, dust and heat.
                        </li>
                        <li>Do not keep any vessel / utensil / cloth etc. on the top of cylinder.
                        </li>
                    </ul>
                </md-content>
            </md-tab>
            <md-tab label="Before use & after use">
                <md-content class="md-padding">
                    <ul>
                        <li>Keep the windows open to ventilate your kitchen
                        </li>
                        <li>
                            Do not place flammable or plastic items near the flame
                        </li>
                        <li>
                            Never leave your cooking unattended. The cooking vessel could overflow and extinguish the burners, causing gas to leak.
                        </li>
                        <li>Close the regulator knob to OFF position when cylinder is not in use
                        </li>
                    </ul>
                </md-content>
            </md-tab>
            <md-tab label="In case of leak">
                <md-content class="md-padding">
                    <ul>
                        <li>
                            Do not operate electrical switches.
                        </li>
                        <li>
                            Ensure that stove knobs are in OFF position
                        </li>
                        <li>Do not light a matchstick even to detect the leakage of LPG.
                        </li>
                        <li>Switch OFF the pressure regulator by turning the knob clockwise to the OFF position.</li>
                        <li>Open all doors and windows</li>
                        <li>If the smell persists, call your HP Gas distributor during office hours. For emergencies after office hours or on holidays please call up your nearest Emergency service cell.
                        </li>
                        <li>An experienced person can detach the regulator. Fix the safety cap on the valve</li>
                    </ul>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
