<section class="layout-padding">
    <h2 class="md-title">Surrender Connection</h2>
    <div class="md-body-2">
        Surrender Of LPG Connection
    </div>
    <div>You may want to surrender your LPG connection as you are shifting to a new address.
    </div>
    <div class="md-body-2">
        Change Of Residence Within The City
    </div>
    <div>
        If you are moving to a new address in the same city, you just have to approach your Jyothigas Distributor for a Transfer Advice (TA). Please present the TA to your new Distributor servicing the area of your new residence. Please note you are not required to submit your equipment (Cylinder/s and Pressure Regulator). Your new Distributor will issue a fresh SV (Subscription Voucher) with a new consumer number at the Distributorship.
    </div>
    <div class="md-body-2">
        Change Of Residence Outside The City
    </div>
    <div>
        If you are moving to a new address to another city, you will need to surrender your connection by returning the equipment (Cylinder/s and Pressure Regulator) and obtain a Termination Voucher (TV) along with refund of the security deposit amount. Then you need to contact the nearest Jyothigas Distributor catering to your new locality and submit the TV to the distributor and pay the security deposit with the documentation fees as applicable. You will get a new Subscription Voucher ( SV ) and the equipment i.e. the Cylinder/s with Pressure Regulator.
    </div>
    <div class="md-body-2">
        Do Not Require The LPG Connection?
    </div>
    <div>
        If you for some reason do not need your LPG connection anymore, you can surrender your connection and obtain a refund of the deposit amount. <md-button class="md-primary" ng-click="surrender($event)">Click here</md-button> to submit your request for surrender of connection. However your connection will be terminated only after you submit cylinder/s and pressure regulator to your Distributor. Please do not forget to take the refund of the cylinder deposit from your Gas Distributor.
    </div>
</section>
