<md-content layout-padding layout-wrap layout="column">
    <div>
        <md-button ui-sref="doctorPlusDash.connect.myContacts" class="md-primary" layout="row">
            <i class="material-icons">keyboard_backspace</i>
            <span>Back</span>
        </md-button>
    </div>
    <div flex layout="row" layout-align="start center" style="min-height: 100px;">
        <md-input-container class="md-block" flex="40">
            <md-icon>
                search
            </md-icon>
            <input ng-model="searchContacts" placeholder="Search">
        </md-input-container>
    </div>
    <md-divider></md-divider>
    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height="200px">
        <md-grid-tile ng-repeat="contact in contacts | filter: searchContacts" md-colspan="1">
            <md-card class="mini-card md-whiteframe-13dp" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{contact.firstName}}</span>
                        <span class="md-subhead">{{contact.therapeuticArea}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media">
                            <img ng-src="{{'data:image/png;base64,'+contact.dPicture}}" class="md-avatar" />
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="addContact(contact.userId)">Add</md-button>
                </md-card-actions>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</md-content>
