<md-tabs id="doctorPlusDash.connect" md-no-select-click md-selected="currentTab" md-dynamic-height md-border-bottom>
    <md-tab label="My Contacts" ui-sref="doctorPlusDash.connect.myContacts">
    </md-tab>
    <md-tab label="Suggested Contacts" ui-sref="doctorPlusDash.connect.suggestedContacts">
        <md-content>
            <div layout="row">
                <md-fab-toolbar md-open="false" count="demo.count" md-direction="left" class="md-fab-top-right">
                    <md-fab-trigger class="align-with-text">
                        <md-button aria-label="menu" class="md-fab md-primary">
                            <md-icon>
                                reorder
                            </md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-toolbar>
                        <md-fab-actions class="md-toolbar-tools">
                            <md-button aria-label="comment" class="md-icon-button" ng-click="toggleView('cards')">
                                <md-icon>
                                    view_list
                                </md-icon>
                            </md-button>
                            <md-button aria-label="label" class="md-icon-button" ng-click="toggleView('list')">
                                <md-icon>
                                    list
                                </md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-toolbar>
                </md-fab-toolbar>
                <div flex layout="row" layout-align="start center" style="min-height: 100px;">
                    <md-input-container class="md-block" flex="40">
                        <md-icon>
                            search
                        </md-icon>
                        <input ng-model="searchContacts" placeholder="Search">
                    </md-input-container>
                </div>
            </div>
            <md-divider></md-divider>
            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height="200px" ng-if="view=='cards'">
                <md-grid-tile ng-repeat="contact in suggestedContacts | filter: searchContacts" md-colspan="1">
                    <md-card class="mini-card md-whiteframe-13dp" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{contact.firstName}}</span>
                                <span class="md-subhead">{{contact.therapeuticArea}}</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-sm card-media">
                                    <img ng-src="{{'data:image/png;base64,'+contact.dPicture}}" class="md-avatar" alt="{{contact.firstName}}" />
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="addContact(contact.userId)">Add</md-button>
                        </md-card-actions>
                    </md-card>
                </md-grid-tile>
            </md-grid-list>
            <md-list ng-if="view=='list'">
                <md-list-item class="md-3-line" ng-repeat="contact in suggestedContacts | filter: searchContacts" ng-click="null">
                    <img ng-src="{{'data:image/png;base64,'+contact.dPicture}}" class="md-avatar" alt="{{contact.firstName}}" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ contact.firstName}}</h3>
                        <h4>{{ contact.therapeuticArea }}</h4>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-tab>
    <md-tab label="Pending Contacts" ui-sref="doctorPlusDash.connect.pendingContacts">
        
    </md-tab>
    <md-tab label="My Groups" ui-sref="doctorPlusDash.connect.myGroups">
        <md-content>
        </md-content>
    </md-tab>
    <md-tab label="Suggested Groups" ui-sref="doctorPlusDash.connect.suggestedGroups">
        <md-content>
        </md-content>
    </md-tab>
    <md-tab label="Pending Groups" ui-sref="doctorPlusDash.connect.pendingGroups">
        <md-content>
        </md-content>
    </md-tab>
</md-tabs>
