<md-toolbar ng-cloak ng-controller="HeaderCtrl" md-theme="altTheme">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" hide-gt-md>
            <i class="material-icons">reorder</i>
        </md-button>
        <div>
            <img src="app/images/logo.png" class="logo" ui-sref="login">
        </div>
        <span flex></span>
        <md-menu md-offset="0 30" md-position-mode="target-right target" class="notifications">
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                <i md-menu-origin class="material-icons">notifications</i>
            </md-button>
            <md-menu-content width="4">
                <div ng-if="notifications.length>0">
                    <md-menu-item ng-repeat="item in notifications">
                        <md-button ng-click="openNotifi($event, item)">
                            <div layout="row" layout-align="center center">
                                <p>{{ item.title }}</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <div layout="row" layout-align="end end">
                        <md-button class="md-primary" ui-sref="notifications">more</md-button>
                    </div>
                </div>
                <div ng-if="notifications.length==0" class="md-padding">
                    No Notifications to Show
                </div>
            </md-menu-content>
        </md-menu>
        <div ui-sref="checkout">
            <ngcart-summary></ngcart-summary>
        </div>
        <md-button ng-click="userLogout()">
            <div layout="row" layout-align="center center">
                <i class="material-icons">exit_to_app</i> &nbsp;&nbsp;&nbsp;
                <md-tooltip md-direction="bottom">
                    Logout
                </md-tooltip>
            </div>
        </md-button>
    </div>
</md-toolbar>
