<md-button ui-sref="doctorPlusDash.share" class="md-primary" layout="row">
    <i class="material-icons">keyboard_backspace</i>
    <span>Back</span>
</md-button>
<div layout="column" layout-align="center center">
    <h2 class="md-title">{{item.title}}</h2>
    <img ng-src="{{'data:image/png;base64,'+item.imageData}}">
    <p>{{item.description}}</p>
    <div layout="row">
        <div class="md-margin">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp; 9
        </div>
        <div class="md-margin">
            <i class="fa fa-share" aria-hidden="true"></i>&nbsp; 10
        </div>
        <div class="md-margin">
            <i class="fa fa-comment" aria-hidden="true"></i>&nbsp; 11
        </div>
    </div>
</div>
<md-divider></md-divider>
<div layout="column">
    <h3 class="md-title">Recent Activity</h3>
</div>
