<md-toolbar>
    <div class="md-toolbar-tools">
        <i class="material-icons pointer" ui-sref="login">home</i>
        <h2>
            <span>MedRep</span>
        </h2>
        <span flex></span>
        <!-- <md-button class="md-icon-button" aria-label="More">
            <i class="material-icons">notifications</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Favorite">
            <i class="material-icons">person</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <i class="material-icons">settings</i>
        </md-button> -->

    </div>
</md-toolbar>