<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty
</div>
<md-table-container ng-show="ngCart.getTotalItems() > 0">
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column></th>
                <th md-column></th>
                <th md-column>Quantity</th>
                <th md-column>Amount</th>
                <th md-column>Total</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="item in ngCart.getCart().items track by $index">
                <td md-cell><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>
                <td md-cell>{{ item.getName() }}</td>
                <td md-cell><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}" ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp; {{ item.getQuantity() | number }}&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
                <td md-cell>{{ item.getPrice() | currency}}</td>
                <td md-cell>{{ item.getTotal() | currency }}</td>
            </tr>
        </tbody>
        <tfoot md-foot>
            <tr md-row ng-show="ngCart.getTax()">
                <td md-cell></td>
                <td md-cell></td>
                <td md-cell></td>
                <td md-cell>Tax ({{ ngCart.getTaxRate() }}%):</td>
                <td md-cell>{{ ngCart.getTax() | currency }}</td>
            </tr>
            <tr md-row ng-show="ngCart.getShipping()">
                <td md-cell></td>
                <td md-cell></td>
                <td md-cell></td>
                <td md-cell>Shipping:</td>
                <td md-cell>{{ ngCart.getShipping() | currency }}</td>
            </tr>
            <tr md-row>
                <td md-cell></td>
                <td md-cell></td>
                <td md-cell></td>
                <td md-cell>Total:</td>
                <td md-cell>{{ ngCart.totalCost() | currency }}</td>
            </tr>
        </tfoot>
    </table>
</md-table-container>
<style>
.ngCart.cart span[ng-click] {
    cursor: pointer;
}

.ngCart.cart .glyphicon.disabled {
    color: #aaa;
}
</style>
