<md-content layout-wrap class="doctorPlus">
    <div layout="row" layout-align="center center" class="dHeader md-whiteframe-15dp">
        <div class="md-title">
            <i class="fa fa-stethoscope" aria-hidden="true"></i>
            Doctor+
        </div>
    </div>
    <div layout="row" layout-align="start center" layout-padding class="plus-menu">
        <div flex="25" layout="column" layout-align="center center">
            <md-button ng-class="{'md-raised': pageName == 'connect'}" ui-sref="doctorPlusDash.connect.myContacts">Connect</md-button>
        </div>
        <div flex="25" layout="column" layout-align="center center">
            <md-button ng-class="{'md-raised': pageName == 'share'}" ui-sref="doctorPlusDash.share">Share</md-button>
        </div>
        <div flex="25" layout="column" layout-align="center center">
            <md-button ng-class="{'md-raised': pageName == 'transform'}" ui-sref="doctorPlusDash.transform.regulatory">Transform</md-button>
        </div>
        <div flex="25" layout="column" layout-align="center center">
            <md-button ng-class="{'md-raised': pageName == 'serve'}" ui-sref="doctorPlusDash.serve">Serve</md-button>
        </div>
    </div>
    <div ui-view></div>
</md-content>
