<md-content layout-padding layout-wrap>
    <md-list flex>
        <div layout="column" layout-align="center center" layout-padding ng-repeat="post in list">
            <div layout="row">
                <div>
                    <img ng-src="{{'data:image/png;base64,'+post.doctorImg}}" class="contact-mainAvatar" />
                </div>
                <div>
                    <div ng-click="view(post)">
                        <div class="md-title">{{post.doctorName}}</div>
                        <p>{{post.description}}</p>
                        <img ng-if="post.imageData" ng-src="{{'data:image/png;base64,'+post.imageData}}" />
                    </div>
                    <div layout="row">
                        <div class="md-margin">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp; {{post.likes}}
                        </div>
                        <div class="md-margin" ng-click="share(post)">
                            <i class="fa fa-share" aria-hidden="true"></i>&nbsp; {{post.shares}}
                        </div>
                        <div class="md-margin" ng-click="comment($event, post)">
                            <i class="fa fa-comment" aria-hidden="true"></i>&nbsp; {{post.comments}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-list>
</md-content>
