<md-content layout-padding layout-wrap>
    <h2 class="md-title">Activity Scores</h2>
    <md-list flex>
        <md-radio-group ng-change="updateChart()" ng-model="selectedId">
            <md-list-item class="md-2-line" ng-repeat="item in scores">
                <div class="md-list-item-text" layout="column">
                    <md-radio-button flex ng-value="item.companyId" class="md-primary">
                        {{item.companyName}}
                    </md-radio-button>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-radio-group>
    </md-list>
    <div google-chart chart="myChartObject" style="height:600px; width:100%;"></div>
</md-content>
