<div layout-fill class="reg-module register">
    <img src="app/images/login-img.jpg" class="bg-img" alt="image you want in background"></img>
    <div layout="column">
        <nav class="fixed-toolbar home" ng-include="'app/views/header/loginHeader.html'"></nav>
        <div class="index">
            <div layout="row" layout-align="center center" layout-margin>
                <md-content layout-padding flex="50" class="register-form">
                    <h3 class="md-headline inset">Forgot Password</h3>
                    <form name="forgotPasswdForm" autocomplete="off">
                        <div layout="column">
                            <div layout="row" layout-padding flex="80">
                                <md-input-container class="md-block" flex>
                                    <label>Email</label>
                                    <input required name="Email" ng-model="medRepObj.emailId" ng-pattern="/^.+@.+\..+$/">
                                    <div ng-messages="forgotPasswdForm.Email.$error" role="alert">
                                        <div ng-message-exp="['required', 'pattern']">
                                            Enter a Valid email
                                        </div>
                                    </div>
                                </md-input-container>
                                <div flex="10"></div>
                            </div>
                            <div layout="row" layout-padding layout-align="end end">
                                <div flex="50"></div>
                                <div flex="50">
                                    <md-button class="md-raised md-warn" ng-click="back()">Cancel</md-button>
                                    <md-button class="md-raised md-primary" ng-disabled="forgotPasswdForm.$invalid" ng-click="forgotPassword()">Submit</md-button>
                                </div>
                            </div>
                        </div>
                    </form>
                </md-content>
            </div>
        </div>
        <nav class="fixed-toolbar footer" ng-include="'app/views/header/loginFooter.html'"></nav>
    </div>
</div>
