<div layout-fill class="reg-module register">
    <img src="app/images/login-img.jpg" class="bg-img" alt="image you want in background"></img>
    <div layout="column">
        <nav class="fixed-toolbar" ng-include="'app/views/header/loginHeader.html'"></nav>
        <div class="index">
            <div layout="row" layout-align="center center" layout-margin>
                <md-content layout-padding class="register-form" flex="50">
                    <h3 class="md-headline inset">Doctor Registration</h3>
                    <form name="doctorRegistration" autocomplete="off">
                        <div layout="column">
                            <div layout="row" layout-padding>
                                <md-input-container class="md-block" flex>
                                    <label>First Name</label>
                                    <input required name="firstName" ng-model="doctorObj.firstName">
                                    <div ng-messages="doctorRegistration.firstName.$error" role="alert">
                                        <div ng-message-exp="['required']">
                                            First Name Cannot be empty
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex>
                                    <label>Last Name</label>
                                    <input required name="lastName" ng-model="doctorObj.lastName">
                                    <div ng-messages="doctorRegistration.lastName.$error" role="alert">
                                        <div ng-message-exp="['required']">
                                            Last Name Cannot be empty
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-padding>
                                <md-input-container class="md-block" flex>
                                    <label>Email</label>
                                    <input required name="Email" ng-model="doctorObj.emailId" ng-pattern="/^.+@.+\..+$/">
                                    <div ng-messages="doctorRegistration.Email.$error" role="alert">
                                        <div ng-message-exp="['required', 'pattern']">
                                            Enter a Valid email
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex>
                                    <label>Alternative Email</label>
                                    <input name="alternateEmailId" ng-model="doctorObj.alternateEmailId" ng-pattern="/^.+@.+\..+$/">
                                    <div ng-messages="doctorRegistration.alternateEmailId.$error" role="alert">
                                        <div ng-message-exp="['pattern']">
                                            Please enter valid email
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-padding>
                                <md-input-container class="md-block" flex>
                                    <label>Mobile Number</label>
                                    <input required name="Phone" ng-model="doctorObj.mobileNo" ng-pattern="/^\d{10}$/">
                                    <div ng-messages="doctorRegistration.Phone.$error" role="alert">
                                        <div ng-message-exp="['required', 'pattern']">
                                            Enter a valid mobile number
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex>
                                    <label>Alternative Phone</label>
                                    <input name="altPhone" ng-model="doctorObj.phoneNo">
                                </md-input-container>
                            </div>
                            <div layout="row" layout-padding>
                                <md-input-container class="md-block" flex="50">
                                    <label>Password</label>
                                    <input type="password" required name="Password" ng-model="doctorObj.password">
                                    <div ng-messages="doctorRegistration.Password.$error" role="alert">
                                        <div ng-message-exp="['required']">
                                            Password cannot be empty
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex="50">
                                    <label>MCI Registration Id</label>
                                    <input required name="MciId" ng-model="doctorObj.registrationNumber">
                                    <div ng-messages="doctorRegistration.MciId.$error" role="alert">
                                        <div ng-message-exp="['required']">
                                            MCI Registration Id cannot be empty
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-padding>
                                <md-input-container class="md-block" flex="50">
                                    <label>Year of Registration</label>
                                    <input required name="registerYr" ng-model="doctorObj.registrationYear">
                                    <div ng-messages="doctorRegistration.registerYr.$error" role="alert">
                                        <div ng-message-exp="['required']">
                                            Year of Registration cannot be empty
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex="50">
                                    <label>State Medical Council</label>
                                    <md-select required name="medicalCoucil" ng-model="doctorObj.stateMedCouncil">
                                        <md-option ng-repeat="state in states" value="{{state}}">
                                            {{state}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="doctorRegistration.medicalCoucil.$error" role="alert">
                                        <div ng-message-exp="['required']">
                                            State Medical Council cannot be empty
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <div flex="30">
                                    <md-button class="md-raised md-primary" ng-show="!isShowAddress" ng-click="isShowAddress=true">Add Address</md-button>
                                </div>
                            </div>
                            <div ng-show="isShowAddress">
                                <div layout="row" layout-padding>
                                    <md-input-container class="md-block" flex="50">
                                        <label>Address 1</label>
                                        <input name="Address 1" ng-model="doctorObj.address1">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex="40">
                                        <label>Address 2</label>
                                        <input name="Address 2" ng-model="doctorObj.address2">
                                    </md-input-container>
                                    <div flex="10" class="pointer">
                                        <i class="material-icons close-icon" ng-click="isShowAddress=false">close</i>
                                    </div>
                                </div>
                                <div layout="row" layout-padding>
                                    <md-input-container class="md-block" flex>
                                        <label>City</label>
                                        <input name="City" ng-model="doctorObj.city">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex>
                                        <label>State</label>
                                        <input name="State" ng-model="doctorObj.state">
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-padding>
                                    <md-input-container class="md-block" flex>
                                        <label>Pincode</label>
                                        <input name="Pincode" ng-model="doctorObj.zipcode">
                                    </md-input-container>
                                    <div flex></div>
                                </div>
                            </div>
                            <div layout="row" layout-padding layout-align="end end">
                                <div flex="50"></div>
                                <div flex="50">
                                    <md-button class="md-raised md-warn" ng-click="goBack()">Cancel</md-button>
                                    <md-button class="md-raised md-primary" ng-disabled="doctorRegistration.$invalid" ng-click="registerDoctor()">Register</md-button>
                                </div>
                            </div>
                        </div>
                    </form>
                </md-content>
            </div>
        </div>
        <nav class="fixed-toolbar footer doctor-register" ng-include="'app/views/header/loginFooter.html'"></nav>
    </div>
</div>
