<div layout-fill class="reg-module register">
    <img src="app/images/login-img.jpg" class="bg-img" alt="image you want in background"></img>
    <div layout="column">
        <nav class="fixed-toolbar home" ng-include="'app/views/header/loginHeader.html'"></nav>
        <p>
            Toast can be dismissed with a swipe, a timer, or a button.
            <br/>
        </p>
        <div class="index">
            <div layout="row" layout-align="center center" layout-margin>
                <md-content layout-padding class="register-form" flex="40">
                    <h3 class="md-headline inset">Company Registration</h3>
                    <form name="companyRegistration">
                        <div layout="column">
                            <div layout="row" layout-padding>
                                <md-input-container class="md-block" flex>
                                    <label>Email</label>
                                    <input required name="Email" ng-model="companyObj.companyEmailId" ng-pattern="/^.+@.+\..+$/">
                                    <div ng-messages="companyRegistration.Email.$error" role="alert">
                                        <div ng-message-exp="['required', 'pattern']">
                                            Enter a Valid email
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-padding>
                                <md-input-container class="md-block" flex>
                                    <label>Company Name</label>
                                    <input required name="companyName" ng-model="companyObj.companyName">
                                    <div ng-messages="companyRegistration.companyName.$error" role="alert">
                                        <div ng-message-exp="['required']">
                                            First Name Cannot be empty
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-padding>
                                <md-input-container class="md-block" flex>
                                    <label>Phone Number</label>
                                    <input required name="phoneNumber" ng-model="companyObj.companyMobileNumber">
                                    <div ng-messages="companyRegistration.phoneNumber.$error" role="alert">
                                        <div ng-message-exp="['required']">
                                            First Name Cannot be empty
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" layout-padding layout-align="end end">
                                <div flex="50"></div>
                                <div flex="50">
                                    <md-button class="md-raised md-warn" ng-click="goBack()()">Cancel</md-button>
                                    <md-button class="md-raised md-primary" ng-disabled="companyRegistration.$invalid" ng-click="registerCompany()">Register</md-button>
                                </div>
                            </div>
                        </div>
                    </form>
                </md-content>
            </div>
        </div>
        <nav class="fixed-toolbar footer" ng-include="'app/views/header/loginFooter.html'"></nav>
    </div>
</div>
