<md-dialog aria-label="OTP" ng-cloak flex="50">
    <form name="optForm">
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-display-1">Reset Password</h2>
            <div class="md-body-2">OTP has been sent to registered Email/ Mobile number</div>
            <md-input-container class="md-block">
                <label>New Password</label>
                <input required type="password" name="userPassword" ng-model="userObj.newPassword" minlength="8" maxlength="12" />
                <div ng-messages="optForm.userPassword.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                        Your password was required to have a minimum length of 8 and maximum length of 12.
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Confirm Password</label>
                <input required type="password" name="ConfirmPasswd" ng-model="userObj.confirmPassword" required compare-to="userObj.newPassword" />
                <div ng-messages="optForm.ConfirmPasswd.$error" role="alert">
                    <div ng-message-exp="['required', 'compareTo']">
                        Your password Should Match.
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>OTP</label>
                <input required name="otp" ng-model="userObj.otp">
                <div ng-messages="optForm.otp.$error" role="alert">
                    <div ng-message-exp="['required']">
                        OTP Cannot be Empty
                    </div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button md-no-ink class="md-warn md-raised" ng-click="closeDialog()">Cancel</md-button>
            <md-button md-no-ink class="md-primary md-raised" ng-click="resend()">Resend OTP</md-button>
            <md-button md-no-ink class="md-primary md-raised" ng-click="create()" ng-disabled="optForm.$invalid">Submit</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
